// html{
//     overflow: hidden;
// }
main {
    display: grid;
    grid-template-columns: repeat(12, 5fr);
    grid-template-rows: minmax(100px,auto) auto;
    grid-template-areas: "header header header header header header header header botones botones botones botones" "contenido contenido contenido contenido contenido contenido contenido contenido contenido contenido contenido contenido";
    //justify-content: center;
}

.contenido {
    grid-area: contenido;
    text-align: justify;
}

.encabezado {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones {
    grid-area: botones;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .disminuye {
        align-self: center;
    }
}